<!DOCTYPE html>
<html>
<head>
  <base href="/recordcomp/">
  <link rel="stylesheet" href="/recordcomp/css/basic.css" type="text/css">
</head>
<body>
<nav>
  <a href="reviews">Reviews</a> | 
  <a href="review">New Review</a> |
  <a href="report">Report</a>
</nav>

