<%= erb :header %>
<form name="login" method="post">
  Username: <input type="text" name="name" value="">
  Password: <input type="password" name="password" value="">
  <input type="submit" name="form_submit" value="Submit">
</form>
<%= erb :footer %>
