#left { float:left; margin:2em; width:40%; }
#right { float:right; margin:2em; width:40%; }
label { color:grey; font-weight:bold; }

pre { 
      white-space: pre-wrap;
      word-wrap: break-word; /* stupid ie9 */
    }
