#left { float:left; margin:2em; width:40%; }
#right { float:right; margin:2em; width:40%; }
label { color:grey; font-weight:bold; }

pre { 
      white-space: pre-wrap;
      word-wrap: break-word; /* stupid ie9 */
    }

table { border-collapse: collapse; }
table, th, td { border: 2px solid #CCC; padding: .5em 1em; }

nav { margin-bottom: 2em; }
